---
import BaseLayout from "src/layouts/BaseLayout.astro";

const title = "Contact Us";
const description = "How to contact us | LoneVoice.in";
---

<BaseLayout {title} {description}>
    <main class="wrapper py">
        <h1 class="heading">{title}</h1>
        <p>Under Construction</p>
    </main>
</BaseLayout>

<style>
    h1 {
        font-size: var(--fs-7);
        margin-block-end: 1rem;
    }
</style>
