---
import { slugify } from "../utils/helpers";

const { tags } = Astro.props;
---

<article-tag-field class="tags flex-row">
    {
        tags.map((tag: string) => (
            <a href={`/tag/${slugify(tag)}`} class="tag">
                # {tag}
            </a>
        ))
    }
</article-tag-field>

<style>
    article-tag-field {
        gap: 1em;
        margin-block-start: 0.5em; /* To override default typography margins */
    }

    .tag {
        font-size: var(--fs-4);
        text-decoration: none;
        background-color: var(--clr-primary);
        color: var(--clr-light);
        padding: 0.25em 0.5em;
        border-radius: 0.25rem;

        &:hover {
            background-color: var(--clr-secondary);
        }
    }
</style>
