---
const footer = [
    { text: "Privacy Policy", link: "/privacy-policy" },
    { text: "RSS Feed", link: "/rss.xml" },
    { text: "Editorial Policy", link: "/editorial-policy" },
];

function getCurrentYear() {
    return new Date().getFullYear();
}
---

<footer>
    <div class="wrapper footer-grid">
        <ul class="flex-row">
            {
                footer.map((item) => (
                    <li>
                        <a href={item.link}>{item.text}</a>
                    </li>
                ))
            }
        </ul>
        <div class="copy">
            Copyright © {getCurrentYear} | TheLoneVoice.in
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #000000e6;
        color: var(--clr-light);
        padding-block: 1.5rem;
    }

    .footer-grid {
        display: grid;
        gap: 0.75rem;
        grid-template-columns: 1fr;

        @media (min-width: 800px) {
            grid-template-columns: 2fr 1fr;
            gap: 0.25rem;
        }
    }

    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        gap: 1rem;
        align-items: center;
        justify-content: space-evenly;

        @media (min-width: 800px) {
            justify-content: normal;
            gap: 1.25rem;
        }
    }

    li a {
        color: var(--clr-light);
        font-size: var(--fs-3);
    }

    .copy {
        text-align: center;

        @media (min-width: 800px) {
            text-align: right;
        }
    }
</style>
