---
import Date from "./Date.astro";
import { Image } from "astro:assets";

const { title, pubDate, coverImage, coverAlt } = Astro.props;
---

<section class="hero-section">
    <div class="hero-head wrapper">
        <Date date={pubDate} class="hero-date" />
        <h1 class="hero-title">{title}</h1>
    </div>
    <Image
        src={coverImage}
        alt={coverAlt}
        widths={[600, 900, 1300]}
        sizes={`(max-width: 800px) 600w, (max-width: 1100px) 900w, (min-width: 1100px) 1300w`}
        quality={"max"}
        loading={"eager"}
        fetchpriority={"high"}
        decoding={"sync"}
        class="hero-image"
    />
    {/* pictureAttributes={{ class: "hero-image" }} */}
</section>

<style>
    .hero-section {
        @media (min-width: 800px) {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
        }
    }

    .hero-image,
    .hero-head {
        grid-row: 1 / -1;
    }

    .hero-head {
        grid-column: 1 / 6;
        z-index: 10;
        align-self: flex-end;

        @media (min-width: 800px) {
            color: white;
            max-width: 900px;
        }
    }

    .hero-image {
        grid-column: 1 / -1;
        width: 100%;
        background-color: rgb(55 65 81);

        @media (min-width: 800px) {
            filter: brightness(0.75);
            aspect-ratio: 16 / 9;
        }
    }

    .hero-date {
        font-size: var(--fs-4);
        padding-block-start: 1rem;
        padding-block-end: 0.75rem;

        @media (min-width: 800px) {
            font-size: var(--fs-5);
            padding-block-start: 0;
        }
    }

    .hero-title {
        font-size: var(--fs-8);
        font-family: var(--ff-serif);
        line-height: 1.2;
        margin-block-end: 1rem;
        text-wrap: balance;

        @media (min-width: 800px) {
            font-size: var(--fs-9);
            margin-block-end: 4rem;
        }
    }
</style>
